﻿.naglowek {
    margin-top: 35px;
    height: 15%;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size:36px;
    font-weight:700;
}
.naglowek p{
    margin:5px;
}
.duze{
    font-weight:600;
    font-size:17px;
}
.srodek p{
    margin:3px;
}
.srodek
{
    margin-top: 30px;
}
