﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/SzynaLewa.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/DashboardMain.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="mainOne">
    <div class="naglowek">
        <h1>Strona główna</h1>
        <p>Szybki podgląd co się dzieje</p>
    </div>
    <div class="srodek">
        <p class="duze"><i class="fa fa-fw fa-database"></i>Sprzęt komputerowy</p>
        <p><i class="fa fa-fw fa-angle-double-right"></i>Liczba wykrytych komputerów: </p>
        <p><i class="fa fa-fw fa-angle-double-right"></i>Liczba komputerów aktywnych w ciągu ostatniej godziny: </p>
        <p><i class="fa fa-fw fa-angle-double-right"></i>Liczba maszyn niewidzinych >= 14 dni: </p>
        <p><i class="fa fa-fw fa-angle-double-right"></i>Liczba wykrytych systemów operacyjnych: </p>
        <p><i class="fa fa-fw fa-angle-double-right"></i>Liczba używanych agentów: </p>
        <p class="duze"><i class="fa fa-fw fa-ticket"></i>Zadania</p>
    </div>


</div>

