﻿@model IEnumerable<WebCoreAlfa.Models.Main>
@{
    ViewData["Title"] = "Glowna";
    Layout = "~/Views/Shared/SzynaLewa.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/Glowna.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div class="main">
    <div class="gora"></div>
    <div class="tabela">

        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Nazwa komputera</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Ostatnio widziany</th>
                    <th scope="col">System operacyjny</th>
                    <th scope="col">RAM</th>
                    <th scope="col">CPU</th>
                    <th scope="col">Zadania</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var itm in Model)
                {
                <tr>                    
                    <td>@itm.CompName</td>
                    <td>@itm.Loggeduser</td>
                    <td>@itm.LastInventory</td>
                    <td>@itm.OsVersion</td>
                    <td>@itm.Ram</td>
                    <td>@itm.Cpu</td>
                    <td>Edit</td>
                </tr>
                }

            </tbody>
        </table>

    </div>
</div>
