﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a asp-area="" asp-controller="Home" asp-action="Dashboard" class="navbar-brand">Dalej</a>
</body>
</html>
