﻿
@{
    ViewData["Title"] = "Sprzet";
    Layout = "~/Views/Shared/SzynaLewa.cshtml";
}
<link rel="stylesheet" href="~/css/Sprzet.css" />

<button class="tablink" onclick="openPage('Main', this, 'red')">Main</button>
<button class="tablink" onclick="openPage('Hardware', this, 'green')" id="defaultOpen">Hardware</button>
<button class="tablink" onclick="openPage('Software', this, 'blue')">Software</button>
<button class="tablink" onclick="openPage('Devices', this, 'orange')">Devices</button>

    <div id="Main" class="tabcontent">
        <h3>Main</h3>
        <p>Home is where the heart is..</p>
    </div>

    <div id="Hardware" class="tabcontent">
        <h3>Hardware</h3>
        <p>Some news this fine day!</p>
    </div>

    <div id="Software" class="tabcontent">
        <h3>Software</h3>
        <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>

    <div id="Devices" class="tabcontent">
        <h3>Devices</h3>
        <p>Who we are and what we do.</p>
    </div>

    <script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
    </script>





