﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/Dashboard.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>SzynaLewa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="row">
        
        <div class="sidebar" id='cssmenu'>
            <img src="~/images/logo.png" style="width:160px;margin-top:0;" />
            <ul>
                <li><a href="#home"><i class="fa fa-fw fa-compass"></i> Dashboard</a></li>
                <li>
                    <a href="#services" class="Inventory"><i class="fa fa-fw fa-database"></i> Inventory</a>


                    <div class="dropdown-container">
                        <a asp-area="" asp-controller="Home" asp-action="Glowna">Główna</a>
                        <a href="#">Wyszykiwanie</a>
                        <a href="#">Grupy</a>
                        <a href="#">Statystyki</a>
                        <a href="#">Deploy</a>
                    </div>


                </li>
                <li><a href="#clients"><i class="fa fa-fw fa-ticket"></i> Tickets</a></li>
                <li><a href="#contact"><i class="fa fa-fw fa-heartbeat"></i> Monitoring</a></li>
                <li><a href="#contact"><i class="fa fa-fw fa-shopping-cart"></i> Invoces</a></li>
                <li><a href="#contact"><i class="fa fa-fw fa-cogs"></i> Settings</a></li>
                <li><a href="#contact"><i class="fa fa-fw fa-eye"></i> Admin</a></li>

            </ul>
            <script>
                var dropdown = document.getElementsByClassName("Inventory");
                var i;

                for (i = 0; i < dropdown.length; i++) {
                    dropdown[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var dropdownContent = this.nextElementSibling;
                        if (dropdownContent.style.display === "block") {
                            dropdownContent.style.display = "none";
                        } else {
                            dropdownContent.style.display = "block";
                        }
                    });
                }
            </script>
        </div>
        <div class="main">
            @RenderBody()
            <hr />
            <footer></footer>
        </div>
    </div>
</body>
</html>
